<br>
<h1><%= @list.name %></h1>
<hr>
<div class="button-align">
<p><%= link_to 'New Item', new_task_path(:list_id => @list.id), :class => 'btn btn-success' %></p> 
</div>
<ul>
  <% @list.tasks.each do |task| %><br>
    <li><%= link_to task.description, edit_task_path(task)%><br>Due date: <%= task.duedate %><br></li>
  <% end %>  
</ul>  
<br>
<br>

<p><%= link_to 'Edit this list', edit_list_path, :class => 'btn btn-warning' %> </p>
<p><%= link_to 'Delete this list',
                @list,
                :method => :delete,
                :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %></p>
<br>    
<p><%= link_to 'Return to List Index', lists_path, :class => 'btn btn-primary'%></p>
            